XF_XML_sub/DvOpcHda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Deji Chen (Fisher Rosemount) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DeltaVOpcHdaClient">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Configuration">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OutputFileName" type="xs:string"/>
							<xs:element name="OutputDirectory" type="xs:string" minOccurs="0"/>
							<xs:element name="OutputFileFormat" default="XML" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="XML"/>
										<xs:enumeration value="TXT"/>
										<xs:enumeration value="CSV"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LogFileName" type="xs:string" default="OpcHdaLog" minOccurs="0"/>
							<xs:element name="LogFileDirectory" type="xs:string" minOccurs="0"/>
							<xs:element name="TimeSetting" default="LOCAL" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="UTC"/>
										<xs:enumeration value="LOCAL"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HostName" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Execution">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Steps">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="Step">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Interface">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="IOPCHDA_SyncRead"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Method">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="ReadRaw"/>
																<xs:enumeration value="ReadProcessed"/>
																<xs:enumeration value="ReadAttribute"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ItemID" type="xs:string"/>
													<xs:element name="StartTime" type="xs:string">
														<xs:annotation>
															<xs:documentation>Windows time string format or OPC HDA string format.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="EndTime" type="xs:string">
														<xs:annotation>
															<xs:documentation>Windows time string format or OPC HDA string format.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="NumValues" type="xs:unsignedLong" default="1" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ReadRaw only.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Bounds" default="FALSE" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ReadRaw only.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="TRUE"/>
																<xs:enumeration value="FALSE"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ResampleInterval" type="xs:unsignedLong" default="1000" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ReadProcessed only.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="AggregateID" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ReadProcessed only. Could be aggregate ID or aggregate value.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="AttributeID" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ReadAttribute Only. Could be attibute ID or attribute value.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FileSuffix" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Suffix appended to OutputFileName, to be the file name for the data retrieved from this Step. If absent, OutputdFileName will be overwritten.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
